.header{
    display: flex;
    align-items: center;
    background-color: #70a00f;
    padding:30px 0;
    justify-content: space-around;
    background: url('../../assets/images/bg_header.jpg');
    & h1{
        color:white;
    };

    p{
        margin:0
    }

    img{
        width: 120px;
        border-radius: 50%;
        border:1px solid white;
        margin: 10px 20px;
        box-shadow: 7px 3px 20px 0px;
    }

    .name{
        color:white;
        font-size: 25px;
    };

    .role{
        font-size: 20px;
        border: 1px solid white;
        background: white;
        padding: 2px;
    };

    .address{
        color:white;
        font-style:italic
    }

    .left{
        display: flex;
        align-items: center;
    };

    .icon{
        transition: background-color 1s;
        &:hover{
        background: #0a460c;
        border-radius: 50%;
        }
    }

    @media screen and (max-width: 1200px) {
        .name{
            color:white;
            font-size: 20px;
            font-weight: bold;
        };
    
        .role{
            font-size: 13px;
            border: 1px solid white;
            background: white;
            padding: 0px;
        };
    }

}