.form{
    padding:7px;
    margin:20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .input{
        outline: none;
        min-width: 70%;
        padding:10px;
        
        border-bottom:1px solid;

        input{
            outline-style: none;
            border: none;
            width: 100%;
        }
    };

    .button{
        width:20%;
    }
}